<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sample.clinic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicSystemApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ClinicSystemApp.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SetLocationActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".HospitalDetailActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".FillUpInfoActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".EditBookingActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".AdminActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ClinicSystemApp" />

        <activity
            android:name=".ClientDoctorProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ClinicSystemApp" />
        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ClinicSystemApp" />
        <activity
            android:name=".ChatDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.ClinicSystemApp" />
        <activity
            android:name=".doctor.DoctorActivity"
            android:exported="true"
            android:theme="@style/Theme.ClinicSystemApp.NoActionBar" />

        <activity
            android:name=".doctor.DoctorChatActivity"
            android:exported="true"
            android:theme="@style/Theme.ClinicSystemApp.NoActionBar" />

        <receiver
            android:name=".Services.ReminderNotif"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sample.clinic.REMINDER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5aCq16HGA-S2uhBvYitXPuwyKNAng7Vo" />
    </application>

</manifest>